.notes_title {
  text-align: center;
  font-family: cursive;
  color: rgb(58, 24, 50);
  font-size: 35px;
}

.note-content {
  text-align: center;
  font-family: cursive;
  color: rgb(58, 24, 50);
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.notes-container {
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
}

.notes-list {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #f3bda1;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.notes-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20em;
  background-color: rgb(2, 71, 94, 0.65);
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  font-size: 20px;
  margin: 7px;
  text-decoration: none;
  color: bisque;
  gap: 10px;
}

.content {
  padding-left: 23px;
  padding-right: 23px;
}

.note-buttons {
  display: grid;
  margin-left: auto;
}

.edit-form-link {
  margin-left: 65px;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}

.dropdown {
  /* width: fit-content; */
  outline: 0;

}
.dropdown-content{
  font-size: 16px;

}

select {
        width: 100%;
        height: 100%;
        cursor:pointer;
    }
