/* TODO Add site wide styles */
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: snow;
}
span.dis {
  color: red;
}
form.login,
form.signup,
form.comment {
  display: grid;
  place-items: center;
  width: 80%;
  height: fit-content;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
@media screen and (max-width: 500px) {
  div.notebooks-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    background-color: rgb(2, 71, 94, 0.65);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin: 7px;
    text-decoration: none;
    color: bisque;
  }

  div#root {
    width: 100vw;
    height: 100vh;
    background-color: snow;
  }
  main {
    grid-template-columns: 100%;
    width: 100%;
    grid-column-gap: 0;
    margin: 0;
  }

  ul.profile-dropdown {
    width: 160px;
  }
  ul.profile-dropdown a {
    width: 100%;
  }
}
