.notebook_title {
  text-align: center;
  font-family: cursive;
  color: rgb(58, 24, 50);
  font-size: 35px;
}

.notebook_content {
  text-align: center;
  font-family: cursive;
  color: rgb(58, 24, 50);
  font-size: 25px;
}

.notebook-container {
  text-align: -webkit-center;
}

.notebook-list {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #f3bda1;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.notebooks-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  background-color: rgb(2, 71, 94, 0.65);
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  margin: 7px;
  text-decoration: none;
  color: bisque;
}

/* .content {
  font-size: 20px;
  align-items: center;
} */

.edit-form-link {
  margin-left: 65px;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}

.submit-button {
  color: #35444b;
  background-color: #bb8c75;
  font-size: 14px;
  width: fit-content;
  box-shadow: 0 0 2px #687980;
  border-radius: 10px;
  margin-top: 15px;
}
.submit-button:hover {
  background-color: #3f5f6d;
  color: #bb8c75;
}

.add-notebook {
  display: flex;
  align-items: center;
  margin-top: 25px;
  background-color: rgba(248, 244, 248, 0.705);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: rgb(2, 71, 94);
}

.add-notebook:hover {
  background-color: rgb(143, 106, 106);
}

.notebooks-buttons {
  display: grid;
}

.input-form {
  height: 30px;
  width: fit-content;
  font-size: 18px;
  font-family: monospace;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
  padding: 10px;
}

.text-form {
  font-family: monospace;
  font-size: 18px;
  height: 200px;
  width: 550px;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  resize: none;
  padding: 10px;
}

.notebook-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.dropdown {
  font-size: 18px;
  font-family: monospace;
  border: groove;
  border-radius: 10px;
  border-width: thick;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
